@model NRP.KlientMvc.Models.v_Form_Odpowiedzi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>v_Form_Odpowiedzi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trescPytania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trescPytania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odpowiedz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odpowiedz)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idOdpowiedzi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
