@model IEnumerable<NRP.KlientMvc.Models.v_Form_Odpowiedzi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trescPytania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.odpowiedz)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trescPytania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.odpowiedz)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idOdpowiedzi }) |
            @Html.ActionLink("Details", "Details", new { id=item.idOdpowiedzi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idOdpowiedzi })
        </td>
    </tr>
}

</table>
