@model IEnumerable<NRP.KlientMvc.Models.v_Form_Odpowiedzi>

@{
    ViewBag.Title = "Lista odpowiedzi";
}

<h2>Lista odpowiedzi</h2>
<form action="/odpowiedzi/edit/" name="v_Form_Odpowiedzi" method="post">
    <table class="table">
        <tr>
            <th>
                Treść pytania
            </th>
            <th>
                Odpowiedź
            </th>
        </tr>
        @foreach (var trescPytania in Model.Select(o => o.trescPytania).Distinct())
        {
            <tr>
                <td>
                    @trescPytania
                </td>
                <td>
                    @{var first = true; }
                    @foreach (var item in Model.Where(m => m.trescPytania == trescPytania))
                    {
                        <input type="radio"
                               name="@trescPytania" id="@item.idOdpowiedzi"
                               value="@item.idOdpowiedzi"
                               @if (first) { <text> checked</text> first = false; } />
                        // @: checked // other kind of escaping from C# to html
                        <label for="@item.idOdpowiedzi">@item.odpowiedz</label> <br>
                    }
                </td>
            </tr>
        }
    </table>
    @Html.AntiForgeryToken()

    <input type="submit" value="Wyślij" class="btn btn-primary" />
</form>
